*.[ch] NHSUBST
*.cpp NHSUBST
*.sh NHSUBST
*.pl NHSUBST
Porting NHSUBST
README NHSUBST
* text=auto
*.hqx -text
*.sln -text
*.vcxproj -text
*.doc !diff
*.DOC !diff
*.uu NH_header=no
*.xpm NH_header=no
.git* NH_header=no
* NH_filestag=(file%s_in_top_directory)
NetHack.dsw NH_filestag=(file%s_for_win32_that_are_moved_into_._at_compile_time)
