PatR <rankin@nethack.org>              nethack.rankin <nethack.rankin>
nhmall <mjnh@persona.ca>               nethack.allison <nethack.allison>
keni <keni@his.com>                    keni <keni>
David Cohrs <davecohrs@gmail.com>      cohrs <cohrs>
Derek S. Ray <derekray@gmail.com>      Derek <derekray@gmail.com>
Alex Kompel <barbos+nethack@gmail.com> Alex Kompel <barbos+droidzebra@gmail.com>
