language: c
matrix:
  include:
    - name: linux-xenial-gcc
      os: linux
      env: HINTS=linux LUA_VERSION=5.4.0
      compiler: gcc
      script:
        - cd sys/unix/ && sh setup.sh hints/$HINTS && cd ../../
        - make fetch-lua
        - test -d "lib/lua-$LUA_VERSION/src" || exit 0
        - make install
    - name: linux-xenial-gcc-nocommon
      os: linux
      env: HINTS=linux LUA_VERSION=5.4.0
      compiler: gcc
      script:
        - echo "CFLAGS+=-fno-common" >>sys/unix/hints/$HINTS
        - cd sys/unix/ && sh setup.sh hints/$HINTS && cd ../../
        - make fetch-lua
        - test -d "lib/lua-$LUA_VERSION/src" || exit 0
        - make install
    - name: linux-bionic-gcc
      os: linux
      env: HINTS=linux LUA_VERSION=5.4.0
      dist: bionic
      compiler: gcc
      script:
        - cd sys/unix/ && sh setup.sh hints/$HINTS && cd ../../
        - make fetch-lua
        - test -d "lib/lua-$LUA_VERSION/src" || exit 0
        - make install
    - name: linux-xenial-clang
      os: linux
      env: HINTS=linux LUA_VERSION=5.4.0
      compiler: clang
      script:
        - cd sys/unix/ && sh setup.sh hints/$HINTS && cd ../../
        - make fetch-lua
        - test -d "lib/lua-$LUA_VERSION/src" || exit 0
        - make install
    - name: linux-xenial-gcc-x11
      os: linux
      env: HINTS=linux-x11 LUA_VERSION=5.4.0
      compiler: gcc
      addons:
        apt:
          packages:
            - libx11-dev
            - libxaw7-dev
            - xfonts-utils
      script:
        - cd sys/unix/ && sh setup.sh hints/$HINTS && cd ../../
        - make fetch-lua
        - test -d "lib/lua-$LUA_VERSION/src" || exit 0
        - make install
    - name: linux-xenial-gcc-qt5
      os: linux
      env: HINTS=linux-qt5 LUA_VERSION=5.4.0
      compiler: gcc
      addons:
        apt:
          packages:
            - libx11-dev
            - libxaw7-dev
            - xfonts-utils
            - qtbase5-dev
            - qtmultimedia5-dev
            - qtbase5-dev-tools
      script:
        - cd sys/unix/ && sh setup.sh hints/$HINTS && cd ../../
        - make fetch-lua
        - test -d "lib/lua-$LUA_VERSION/src" || exit 0
        - make QT_SELECT=5 MOC=moc install
    - name: linux-bionic-gcc-x11
      os: linux
      env: HINTS=linux-x11 LUA_VERSION=5.4.0
      dist: bionic
      compiler: gcc
      addons:
        apt:
          packages:
            - libx11-dev
            - libxaw7-dev
            - xfonts-utils
      script:
        - cd sys/unix/ && sh setup.sh hints/$HINTS && cd ../../
        - make fetch-lua
        - test -d "lib/lua-$LUA_VERSION/src" || exit 0
        - make install
    - name: linux-xenial-gcc-minimal
      os: linux
      env: HINTS=linux-minimal LUA_VERSION=5.4.0
      compiler: gcc
      script: |
              cd sys/unix/ && sh setup.sh hints/$HINTS && cd ../../
              sed -i '/^#define CLIPPING/d'       include/config.h
              sed -i '/^#define COMPRESS/d'       include/config.h
              #sed -i '/^#define DOAGAIN/d'        include/config.h
              sed -i '/^#define DUMPLOG/d'        include/config.h
              #sed -i '/^#define GDBPATH/d'        include/config.h
              #sed -i '/^#define GREPPATH/d'       include/config.h
              sed -i '/^#define INSURANCE/d'      include/config.h
              sed -i '/^#define LOGFILE/d'        include/config.h
              sed -i '/^#define NEWS/d'           include/config.h
              sed -i '/^#define PANICLOG/d'       include/config.h
              #sed -i '/^#define STATUS_HILITES/d' include/config.h
              sed -i '/^#define SYSCF/d'          include/config.h
              sed -i '/^#define USER_SOUNDS/d'    include/config.h
              sed -i '/^#define XLOGFILE/d'       include/config.h

              sed -i '/^#define MAIL/d'           include/unixconf.h
              sed -i '/^#define SHELL/d'          include/unixconf.h
              sed -i '/^#define SUSPEND/d'        include/unixconf.h
              sed -i 's/^#define TEXTCOLOR//'     include/unixconf.h
              make fetch-lua
              test -d "lib/lua-$LUA_VERSION/src" || exit 0
              make install
              cat dat/options
    - name: windows-visualstudio
      os: windows
      language: shell
      script:
        - ./win/win32/vs2017/travisci.sh
    - name: windows-mingw
      os: windows
#     install: choco install mingw
      script:
        - export ADD_CURSES=Y
        - export PDCURSES_TOP=../lib/pdcurses
        - export LUA_VERSION=5.4.0
        - sh sys/winnt/travis-gcc.sh
        - test -d "lib/lua-$LUA_VERSION/src" || exit 0
        - test -d "lib/pdcurses" || exit 0
        - cd src
        - cp ../sys/winnt/Makefile.gcc ./Makefile
        - mingw32-make install
    - name: msdos-linuxhost-crosscompile
      os: linux
      env: HINTS=linux LUA_VERSION=5.4.0
      compiler: gcc
      script:
#        - export
        - cd sys/unix/ && sh setup.sh hints/$HINTS && cd ../../
        - make fetch-lua
        - test -d "lib/lua-$LUA_VERSION/src" || exit 0
        - cd lib/lua-$LUA_VERSION/src && make a && cd ../../.. 
        - sh sys/msdos/msdos-cross-compile.sh
  exclude:
#    - os: osx
#      osx_image: xcode10.3
#      env: DESCR=osx-xcode10.3-x11 HINTS=macosx10.14 WANT_WIN_CURSES=1 WANT_WIN_X11=1 USE_XPM=1
#      compiler: clang
#      script: "cd sys/unix/ && sh setup.sh hints/$HINTS && cd ../../ && make install"
    - os: osx
      osx_image: xcode10.2
      env: HINTS=macosx10.14
      compiler: clang
      script: "cd sys/unix/ && sh setup.sh hints/$HINTS && cd ../../ && make install"
#
sudo: false
notifications:
  email:
    recipients:
      - devteam@nethack.org
#
deploy:
  provider: releases
  api_key:
    secure: "U0Dt2CXrcG8Yi4taUCT/6AnM+0IJtdCv6IVG/2rGooUY3pZjNWE9XDM6X9ZeAmbI79aN6FPTppjUf3KbB/upYeJt+8mrjnxEk/ZTO1xXDDW8iL/DiqnczoFsMGmPsTM+Fkeak8bu0SifI7Qkx9i1N+zOyl2VdlaxGjchPfl/OJw2jcQs7rOGRfr23/rapZKTcFq+BFlxMiIHa0dXbCJ9vagdlyAeclOCtPjw1VoH/Cb/+0/Xlx2MFPncw4/1P+bO/fPantHyehh3/WCDVCnI4M7ftONpsTVRrQ+Hml89teUH9/1xXUOpbCeVghWr1rumLcQzMqLKNj2lP/gm9co2/DKpxiUPUzBfO/9Jvl1CNoEwPYQBRNb38kggDvAT4vKX38Oi5sZvumFEO4L0y7o4cW6SA4/CYIykfxOdkrryt8ltfWwopdy3I/DothYw31vJ9GsZOCAShFRAy3hJxYUbHhT+7SDUBadVSEkb4UqxQ+7zntAVT+Lp4DXLAfvsWxZGrQoP/IrWAgNOLRKILubpzh+YpadMH3Ygha2JRAeJAEZ3DnXf3vOOAucWnk4mNXDbW35GTDTAJDWMvddZCfsrUI/uHxgaRjFs9fLX1X5tqhGnsr27sKLWyX+zrIPVV0TPl3AzYPAf6Bc8Okeu+JEGQERvvgSasCuYcmhgYznBVJI="
  file_glob: true
  file: 
    - "$TRAVIS_TAG.x86.zip"
  skip_cleanup: true
  on:
    tags: true
  prerelease: true
  name: "Pre-Release build of NetHack 3.7.0"
  body: "This is an auto generated Pre-Release build of NetHack 3.7.0"
