# A '#' at the beginning of a line means the rest of the line is a comment.
#
# This configuration file is set up for two cases, for a hard disk
# (as drive C:), and for one (double sided) floppy disk.
#
# To change the configuration, comment out the unwanted lines, and
# uncomment the configuration you want.


# *** OPTIONS ***
#
# If you want people to play NetHack over the modem, you should probably
# uncomment the following line:
#
#OPTIONS=!BIOS,number_pad,nocolor
#
# Some options to set personal preferences.  Uncomment and change these to
# suit your personal preference.  If several people are to use the same
# configuration, options like these should not be set.
#
#OPTIONS=name:Janet-V,female,dogname:Fido,catname:Morris,fruit:apricot
#OPTIONS=packorder:")[%?+/=!(*0_`,scores:10 top/2 around/own
#
#
# Other general options.  You might also set "silent" so as not to attract
# the boss's attention.
#
OPTIONS=BIOS,time,rest_on_space,noautopickup

# Color: if you have a color monitor and *don't* want colors, 
# comment out the following line. (Mono users don't get color no matter what.)
#
#OPTIONS=nocolor

# *** HARD DISK CONFIGURATION ***
#
HACKDIR=c:\nh31\games
#
#   LEVELS and SAVE default to HACKDIR
#
LEVELS=c:\nh31\games
#   appending a ";n" to SAVE means don't prompt to insert a disk.
SAVE=c:\nh31\games;n
#
# Using a ramdisk speeds things up.
#
# NOTE: the RAMDISK *must* be on a different drive from HACKDIR, LEVELS, and
# SAVE. If you're already keeping your LEVELS on a ramdisk, the RAMDISK=
# variable is redundant.
#
#RAMDISK=m:


# *** 1-FLOPPY CONFIGURATION ***
#
#HACKDIR=a:
#LEVELS=a:
#SAVE=a:
#RAMDISK=m:


# *** CHARACTER GRAPHICS ***
#
# See the on-line help or the Guidebook for which symbols are in which
# positions.
#
# An example using the hackfnt.prg font:
#DUNGEON=  032 217 218 194 195 192 193 216 197 196 \
#	   199 198 202 201 201 200 200 035 035 202 \
#	   203 203 210 211 212 213 209 124 208 205 \
#	   204 214 202 214 042 042 215 215 046 035 \
#	   214
#
#TRAPS=    207 207 207 207 207 207 207 207 207 207 \
#	   207 207 207 207 207 206 207 207 207 207 \
#	   207 207
#
#EFFECTS=  058 045 092 047 042 033 041 040	   \
#	   048 035 064 042			   \
#	   194 218 195 217 217 192 218 193	   \
#	   047 045 092 058 032 058 092 045 047
