<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>nethack</string>
	<key>CFBundleIdentifier</key>
	<string>org.nethack.carbon</string>
	<key>CFBundleLongVersionString</key>
	<string>3.5.0 © 1985-2005 devteam@nethack.org</string>
	<key>CFBundleName</key>
	<string>NetHack</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.5.0</string>
	<key>CFBundleSignature</key>
	<string>NHak</string>
	<key>CFBundleVersion</key>
	<string>3.5.0</string>
	<key>LSPrefersCarbon</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>© 1985-2005 devteam@nethack.org</string>
</dict>
</plist>
