Makefile.* NHSUBST
NetHack.cnf NHSUBST
termcap NH_header=no
Makefile.lib NH_header=no

Makefile.lib	NH_filestag=(file%s_for_OS/2_version_-_untested_for_3.7)
#termcap.uu NH_filestag=(file%s_for_MSDOS_and_OS/2_versions_-_untested_for_3.7)
termcap.uu	NH_filestag=>Makefile.lib

pcmain.c	NH_filestag=(file_for_MSDOS,_OS/2,_Amiga,_and_Atari_versions_-_only_MSDOS_tested_for_3.7)

pcsys.c		NH_filestag=(file%s_for_MSDOS,_OS/2_and_Atari_versions_-_only_MSDOS_tested_for_3.7)
pcunix.c	NH_filestag=>pcsys.c

NetHack.cnf	NH_filestag=(file_for_MSDOS,_OS/2,_and_Atari_versions_-_only_MSDOS_tested_for_3.7)
pctty.c		NH_filestag=>NetHack.cnf

ioctl.c		NH_filestag=(file%s_for_UNIX_and_Be_versions)
unixtty.c	NH_filestag=>ioctl.c

random.c NH_filestag=(Berkeley_random_number_file,_which_may_be_included_in_any_version)

uudecode.c NH_filestag=(Berkeley_uudecode_file,_which_may_be_used_in_build_process_of_any_version)

tclib.c NH_filestag=(file_for_VMS_version)

termcap NH_filestag=(file_for_MSDOS,_OS/2,_and_VMS_versions)

posixregex.c NH_filestag=60(posix_regex_for_versions_that_include_regex_in_their_C_library)

cppregex.cpp NH_filestag=61(c++_regex_code_for_versions_that_can_build_a_C++_module_and_link_it_in)

pmatchregex.c NH_filestag=62(pmatch_regex_for_other_versions)
