/*	SCCS Id: @(#)console.rc	3.4	2002/02/14			*/
/* Copyright (c) Yitzhak Sapir, 2002. 					*/
/* NetHack may be freely redistributed.  See license for details. 	*/

#include "windows.h"

1 ICON DISCARDABLE "NetHack.ICO"


/*console.rc*/

