!NetHack.sln
*.db-shm
*.db-wal
paniclog
_pkginfo.txt
AppPackages
BundleArtifacts
report.xml
*.cer
*.appxbundle
NetHackPackage_StoreKey.pfx
NetHackPackage_TemporaryKey.pfx
NetHackPackage.assets.cache
NetHackPackage.wapproj.user
NetHackPackage/obj/
NetHackW.vcxproj.user
obj/
