# Guidebook without a suffix is usually a copy of Guidebook.txt.  The
# latter is managed by git because it is part of the source distribution.
# We don't want both copies.
Guidebook
# Unpaginated copy of Guidebook.txt that might someday be used for help
# text to display within the game.  If that happens and it gets added to
# the distribution, it will live in dat/ rather than doc/.
Guidebook.dat
# various intermediate files or generated output, not to be tracked.
Guidebook.aux
Guidebook.dvi
Guidebook.log
Guidebook.pdf
Guidebook.ps
Guidebook.dated.*
*.synctex.*

