Install.windows NHSUBST
Makefile.* NHSUBST
defaults.nh NHSUBST
sysconf NHSUBST
*.rc NHSUBST
*.bat NHSUBST
*.def NH_header=no
* NH_filestag=(file%s_for_Windows_7/8.x/10_version)
..files NH_filegenerated=nethack.ico
nethack.ico NH_filesgentag=(file%s_generated_by_uudecode_at_compile_time)
