* NH_filestag=(file%s_for_all_versions)

bitmfile.h   NH_filestag=(file%s_for_GEM_versions)
gem_rsc.h NH_filestag=>bitmfile.h
load_img.h NH_filestag=>bitmfile.h
wingem.h NH_filestag=>bitmfile.h

winGnome.h NH_filestag=(file%s_for_GNOME_versions)

mac-carbon.h NH_filestag=(file%s_for_various_Macintosh_versions)
mac-qt.h NH_filestag=>mac-carbon.h
mac-term.h NH_filestag=>mac-carbon.h
macconf.h NH_filestag=>mac-carbon.h
macpopup.h NH_filestag=>mac-carbon.h
mactty.h NH_filestag=>mac-carbon.h
macwin.h NH_filestag=>mac-carbon.h
mttypriv.h NH_filestag=>mac-carbon.h
