# generated at build time so not managed by git
nhlua.h
# obsolete but still built by 'makedefs' in conjunction with dat/options for
# potential use by old port-specific code that isn't being actively maintained
date.h
# obsolete but can still be built by 'makedefs' for reference purposes
onames.h
pm.h
# these are obsolete--or now reside elsewhere--but are still listed here to be
# ignored in case the directory contains remnants of building an older version
dgn_comp.h
lev_comp.h
vis_tab.h
tile.h
win32api.h
# really obsolete...
.cvsignore
